[submodule "3rdparty/easy_profiler"]
	path = 3rdparty/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "3rdparty/nanovg"]
	path = 3rdparty/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "3rdparty/StructureOfArrays"]
	path = 3rdparty/StructureOfArrays
	url = https://github.com/Lunarsong/StructureOfArrays.git
[submodule "3rdparty/fast-poly2tri"]
	path = 3rdparty/fast-poly2tri
	url = https://github.com/MetricPanda/fast-poly2tri.git
[submodule "3rdparty/concurrentqueue"]
	path = 3rdparty/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
